body {
  /* overflow: hidden; */
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  background-color: rgb(236, 230, 208);
  color: black;
}
h1,
h2,
h3,
h4 {
  font-family: Dymo;
  letter-spacing: 0rem;
  text-align: right;
}
h1 {
  font-family: Dymo;
  font-size: 6rem;
  letter-spacing: 0rem;
  text-align: right;
  padding: 10%;
}

#hero {
  background-color: rgb(215, 235, 250);
  width: 100%;
  height: auto;
  background-image: url("assets/hero-bigger.jpg");
}
